<ul
  class="position-fixed fixed-bottom nav nav-pills px-9 justify-content-between bg-white"
>
  <li class="nav-item">
    <a
      class="nav-link fw-bold text-center"
      href="sport"
    >
      <div class="p-2 rounded-circle mb-1">
        <img src="/assets/images/sport.svg" alt="運動" />
      </div>
      運動
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link fw-bold text-center"
      href="team"
    >
      <div class="p-2 rounded-circle mb-1">
        <img src="/assets/images/team.svg" alt="隊伍" />
      </div>
      隊伍
    </a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link fw-bold text-center"
      href="setting"
    >
      <div class="p-2 rounded-circle mb-1">
        <img src="/assets/images/setting.svg" alt="設定" />
      </div>
      設定
    </a>
  </li>
</ul>