.start {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: 
    url("../../assets/images/bg-area.png") 
    no-repeat 
    left top / 100% 100%;
    position: relative;
  .cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(41, 41, 41, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 
  .counter {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 8px solid #EDFDFE;
  }
  .count {
    color: #EDFDFE;
    font-size: 96px;
    font-weight: 700;
    animation: countAnimation 1s linear;
  }
  .aicoach-img {
    width: 227px;
    height: 273px;
    margin-bottom: 1rem;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .cover-md {
    background-color: rgba(41, 41, 41, .7);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-top: 2rem;
  }
  .rounded-custom {
    border-radius: 8px;
  }
  .back-btn {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 44px;
    left: 16px;
    padding-right: 5px;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
  }
  .icon-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-color: #FFC470;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(20%, -50%);
    .icon {
      width: 16px;
      height: 16px;
    }
  }
  .list-line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: rgba(23, 112, 135, 0.3);
  }
}
.start-sport {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  #video {
    object-fit: cover;
    width: 100%;
    flex-grow: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    z-index: -1;
  }
  .start-sport-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .start-sport-time {
    flex-grow: 1;
    padding: 40px 16px 0 16px;
    display: flex;
    flex-direction: column;
  }
  .start-sport-dashboard {
    background-image: linear-gradient(180deg, #0BA4B1 100%, #11C6D4 100%);
    padding: 40px 16px 32px 16px;
    color: #fff;
  }
  .font-size-counter-lg {
    font-size: 44px;
  }
  .font-size-counter-xl {
    font-size: 64px;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.7);
    z-index: 2;
    display: none;
  }
  .dropdown {
    position: relative;
    z-index: 3;
  }
  .dropdown-item {
    color: #464646;
    font-weight: 400;
  }
  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: #EDFDFE;
    color: #15ADC5;
  }
}
@keyframes countAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 0;
  }
}