.hr-text {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;

    & .user-text::before,
    & .user-text::after {
        position: absolute;
        content: "";
        height: 1px;
        top: 50%;
        width: 100px;
        background-color: #bdbdbd;
    }

    & .user-text::before {
        left: 10px;
    }

    & .user-text::after {
        right: 10px;
    }
}

.login-btn-fb {
    background-color: #5370BB;
}

.login-btn-goo {
    background-color: #DF685D;
}

img {
    max-width: 100%;
    width: 56px;
    height: 56px;
}

.login-label-color {
    color: #BDBDBD;

    &.active {
        color: $white;
    }
}

.login-text {
    color: #464646;

    &.active {
        color: $white;
    }
}

.login-col {
    padding-left: 4px;
    padding-right: 4px;
}

.login-checkbox {
    font-weight: 400;
    color: #464646;

    &.active {
        color: $white;
        font-weight: 700;
    }
}

.login-coach {
    width: 141px;
    height: 170px;
}

.sex-icon {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 12px;

    &.active {
        color: $white;
    }
}