<div class="container px-4 login-100vh">
    <div class="d-flex flex-column justify-content-around login-100vh">
        <div class="flex-grow-1 mt-8">
            <ul class="timeline-list">
            </ul>
            <p class="text-center text-secondary-300 fs-7 fw-bold mb-0">只要幾步驟 開始屬於你的 AI 運動計畫</p>
        </div>
        <div class="d-flex flex-column align-items-center flex-grow-1">
            <p class="fs-7 fw-regular text-secondary-300 mb-1">根據你的資料</p>
            <h5 for="coach-traits" class="fw-bold text-primary-500 mb-4">推薦給你這位專屬AI教練</h5>
            <img src="/assets/images/aicoach.png" alt="ai-coach" class="login-coach">
            <h5 for="coach-traits" class="fw-bold text-primary-500 mb-4">Micheal</h5>
            <div class="p-4 rounded-3 bg-primary-50 text-center w-100 mb-4">
                <p class="fs-7 fw-regular text-primary-700">HI，我是Micheal！<br>你的專屬AI教練<br>我推薦你<span class="fw-bold">先從150步頻</span><br><span class="fw-bold">每天20分鐘</span>開始訓練</p>
            </div>
            <p class="fs-7 fw-regular text-secondary-800 text-center px-9">Micheal 是一名熱情、有責任感且擁有豐富經驗的運動教練，致力於幫助你達成運動目標、提升健康和體能。</p>
        </div>
        <div class="d-flex w-100">
            <a href="../../pages/sport/index.html" class="btn btn-irun rounded-4 fs-4 fw-bold text-white mb-8 flex-grow-1">讓我們一起運動吧！</a>
        </div>
    </div>
</div>

<div class="container px-4 login-100vh" aria-hidden="true">
    <div class="d-flex flex-column justify-content-around login-100vh">
        <div class="flex-grow-1 mt-8 placeholder-glow">
            <span class="text-center text-secondary-300 fs-7 fw-bold mb-0 placeholder"></span>
        </div>
        <div class="d-flex flex-column align-items-center flex-grow-1 placeholder-glow">
            <span class="placeholder col-4 mb-1"></span>
            <h5 class="placeholder col-7"></h5>
            <span class="fs-7 fw-regular text-secondary-300 mb-1 placeholder"></span>
            <span for="coach-traits" class="fw-bold text-primary-500 mb-4 placeholder"></span>
            <img scr="..." alt="ai-coach" class="login-coach placeholder">
            <h5 for="coach-traits" class="fw-bold text-primary-500 mb-4 placeholder"></h5>
            <div class="p-4 rounded-3 bg-primary-50 text-center w-100 mb-4 placeholder-grow">
                <span class="placeholder col-4"></span><br>
                <span class="placeholder col-5"></span><br>
                <span class="placeholder col-4"></span><br>
                <span class="placeholder col-4"></span>
            </div>
            <span class="placeholder col-7 mb-2"></span>
                <span class="placeholder col-7 mb-2"></span>
                <span class="placeholder col-5"></span>
        </div>
        <div class="d-flex w-100">
            <a class="btn btn-irun rounded-4 fs-4 fw-bold text-white mb-8 flex-grow-1 disabled placeholder col-6" aria-disabled="true"></a>
        </div>
    </div>
</div>