<div class="container px-4 login-100vh">
    <div class="d-flex flex-column justify-content-around login-100vh">
        <div class="flex-grow-1 mt-8">
            <ul class="timeline-list">
            </ul>
            <p class="text-center text-secondary-300 fs-7 fw-bold mb-0">只要幾步驟 開始屬於你的 AI 運動計畫</p>
        </div>
        <form class="text-center flex-grow-1">
            <label for="body-height" class="h5 fw-bold text-primary-500 mb-4">身高</label>
            <div class="input-group mb-8">
                <input type="number" class="form-control rounded-start-2 border-end-0" aria-label="" placeholder="請輸入身高">
                <div class="input-group-append">
                    <span class="input-group-text border-start-0 rounded-end-2 bg-white text-secondary-300">cm</span>
                </div>
            </div>
            <label for="body-height" class="h5 fw-bold text-primary-500 mb-4">體重</label>
            <div class="input-group mb-3">
                <input type="number" class="form-control rounded-start-2 border-end-0" aria-label="" placeholder="請輸入體重">
                <div class="input-group-append">
                    <span class="input-group-text border-start-0 rounded-end-2 bg-white text-secondary-300">kg</span>
                </div>
            </div>
        </form>
        <div class="d-flex w-100">
            <a href="#" class="login-a p-6 me-4"><h6 class="text-secondary-300 fw-bold">返回</h6></a>
            <button type="button" class="btn btn-irun rounded-4 fs-4 fw-bold text-white mb-8 flex-grow-1">下一步</button>
        </div>
    </div>

</div>