<a href="login-index.html" class="bg-primary-400 d-flex justify-content-center align-items-center login-row login-a">
    <div>
        <img src="/assets/images/icons/LOGO.svg" alt="logo">
        <h3 class="text-white fw-bold login-lh text-center">iRun</h3>
    </div>
</a>