<div class="container px-4 login-100vh">
    <div class="d-flex flex-column justify-content-around login-100vh">
        <div class="flex-grow-1 mt-8">
            <ul class="timeline-list">
            </ul>
            <p class="text-center text-secondary-300 fs-7 fw-bold mb-0">只要幾步驟 開始屬於你的 AI 運動計畫</p>
        </div>
        <form class="text-center flex-grow-1">
            <label for="body-height" class="h5 fw-bold text-primary-500 mb-4">出生年份</label>
            <select class="form-select rounded-2 mb-8" aria-label="">
                <option selected class="text-secondary-500">請選擇出生年份</option>
                <option value="1">2000</option>
                <option value="2">2001</option>
                <option value="3">2002</option>
                <option value="4">2003</option>
                <option value="5">2004</option>
                <option value="6">2005</option>
                <option value="7">2006</option>
            </select>
            <div class="d-flex flex-column">
                <label for="body-height" class="h5 fw-bold text-primary-500 mb-4">生理性別</label>
                <div class="btn-group gap-4" data-toggle="buttons">
                    <label class="btn btn-outline-irun d-flex flex-column align-items-center justify-content-center py-7 rounded-2">
                        <img src="/assets/images/icons/male.svg" alt="male" class="mb-3">
                        <input type="radio" name="gender" id="male" autocomplete="off" class="d-none"> 男
                    </label>
                    <label class="btn btn-outline-irun d-flex flex-column align-items-center justify-content-center  py-7 rounded-2">
                        <img src="/assets/images/icons/female.svg" alt="female" class="mb-3">
                        <input type="radio" name="gender" id="female" autocomplete="off" class="d-none"> 女
                    </label>
                </div>
            </div>
            </form>
        <div class="d-flex w-100">
            <a href="bodyinfo.html" class="login-a p-6 me-4"><h6 class="text-secondary-300 fw-bold">返回</h6></a>
            <a href="frequency.html" class="btn btn-irun rounded-4 fs-4 fw-bold text-white mb-8 flex-grow-1">下一步</a>
        </div>
    </div>

</div>