<div class="container px-4 login-100vh">
    <div class="d-flex flex-column justify-content-around login-100vh">
        <div class="flex-grow-1 mt-8">
            <ul class="timeline-list">
            </ul>
            <p class="text-center text-secondary-300 fs-7 fw-bold mb-0">只要幾步驟 開始屬於你的 AI 運動計畫</p>
        </div>
        <form class="d-flex flex-column align-items-center flex-grow-1">
            <label for="body-height" class="h5 fw-bold text-primary-500 mb-4">運動頻率</label>
            <div class="w-100" data-toggle="buttons">
                <label class="btn btn-outline-irun d-flex flex-column align-items-center justify-content-center rounded-4 mb-4 text-secondary-800">初階：沒有運動習慣</label>
                <input type="radio" name="beginner" id="beginner" autocomplete="off" class="d-none">
                <label class="btn btn-outline-irun d-flex flex-column align-items-center justify-content-center rounded-4 mb-4">初階：沒有運動習慣</label>
                <input type="radio" name="beginner" id="beginner" autocomplete="off" class="d-none"> 
                <label class="btn btn-outline-irun d-flex flex-column align-items-center justify-content-center rounded-4">
                    <input type="radio" name="beginner" id="beginner" autocomplete="off" class="d-none"> 初階：沒有運動習慣
                </label>
            </div>
        </form>
        <div class="d-flex w-100">
            <a href="date-sex.html" class="login-a p-6 me-4"><h6 class="text-secondary-300 fw-bold">返回</h6></a>
            <!-- TODO: 待補下一步 route -->
            <a href="#" class="btn btn-irun rounded-4 fs-4 fw-bold text-white mb-8 flex-grow-1">下一步</a>
        </div>
    </div>
</div>