<div class="container px-4">
    <div class="login-row d-flex flex-column justify-content-center align-items-center ">
        <h5 class="fw-bold text-primary-500 mb-7">AI教練來陪你運動</h5>
        <img src="/assets/images/login-banner.svg" alt="banner" class="mb-7">
        <button class="btn btn-outline-irun w-100 fs-4 fw-bold text-secondary-500 ">立即開始</button>
        <button class="btn btn-irun">會員登入</button>
    </div>
</div>