<div class="container px-4">
    <div class="login-100vh d-flex flex-column justify-content-center align-items-center ">
        <h5 class="fw-bold text-primary-500 mb-7">AI教練來陪你運動</h5>
        <img src="/assets/images/login-banner.svg" alt="banner" class="mb-7">
        <a href="" class="btn btn-outline-irun w-100 border-secondary-500  rounded-4 fs-4 fw-bold text-secondary-500 py-6 mb-4">立即開始</a>
        <a href="" class="btn btn-irun w-100 rounded-4 fs-4 fw-bold text-white py-6">會員登入</a>
    </div>
</div>