<div class="container px-4 login-100vh">
    <div class="d-flex flex-column justify-content-around login-100vh">
        <div class="flex-grow-1 mt-8">
            <ul class="timeline-list">
            </ul>
            <p class="text-center text-secondary-300 fs-7 fw-bold mb-0">只要幾步驟 開始屬於你的 AI 運動計畫</p>
        </div>
        <form class="text-center flex-grow-1">
            <label for="nickname" class="h5 fw-bold text-primary-500 mb-4">如何稱呼</label>
            <input type="text" name="nickname" id="nickname" placeholder="請輸入名稱" class="form-control rounded-2" required>
        </form>
            <div class="d-flex w-100">
                <a href="../../pages/index.html" class="login-a p-6 me-4"><h6 class="text-secondary-300 fw-bold">返回</h6></a>
                <a href="bodyinfo.html" class="btn btn-irun rounded-4 fs-4 fw-bold text-white mb-8 flex-grow-1">下一步</a>
            </div>
    </div>

</div>