<div class="container px-4 login-100vh">
    <div class="d-flex flex-column justify-content-around login-100vh">
        <div class="flex-grow-1 mt-8">
            <ul class="timeline-list">
            </ul>
            <p class="text-center text-secondary-300 fs-7 fw-bold mb-0">只要幾步驟 開始屬於你的 AI 運動計畫</p>
        </div>
        <div class="d-flex flex-column align-items-center flex-grow-1">
            <h5 for="coach-traits" class="fw-bold text-primary-500 mb-1 lh-base">設定每日運動提醒時間</h5>
            <p class="fs-7 fw-regular text-secondary-800 lh-base">每天花15分鐘就能有效燃脂</p>
            <img src="/assets/images/9359ab6fcd36b1c5.png" alt="ring" class="ring">
            <%- include('../time-picker.ejs'); %>
        </div>
        <div class="d-flex w-100">
            <a href="coach-traits.html" class="login-a p-6 me-4"><h6 class="text-secondary-300 fw-bold lh-base">返回</h6></a>
            <a href="ai-coach.html" class="btn btn-irun rounded-4 fs-4 fw-bold text-white mb-8 flex-grow-1 py-6 lh-base">下一步</a>
        </div>
    </div>
</div>