<!-- TODO: 待刪 -->
<div class="bg-primary-400 d-flex justify-content-center align-items-center login-100vh">
    <a href="/login/login.html" class="stretched-link login-a">
        <img src="/assets/images/LOGO.svg" alt="logo">
        <h3 class="text-white fw-bold login-lh text-center">iRun</h3>
    </a>
</div>